{% extends 'base_eshop.html.twig' %}

{% block title %}Košík{% endblock %}
{% block body %}   
<div class = "container">
    <h2>Nákupní košík</h2><br>
    
    {% if basket == null %}
        <p>Váš košík je prázdný.</p>
    {% else %}
        <h4>Zboží v košíku:</h4>
    {% endif %}
    
    <div class="row">
        {% for product in basket %}
            <div class="col-4">
            <h5>{{ product.name }}</h6>
            Cena za kus: {{ product.price }} Kč<br>
            Množství v košíku: {{ product.quantity }} <br>
            Celková cena: {{ product.price * product.quantity }} Kč<br>
            <a class="btn btn-info" href="{{ path('basket_add', { product: product.id }) }}">Změnit množství</a> <br>
            <a class="btn btn-danger" href="{{ path('basket_delete', { product: product.id }) }}">Odstranit z košíku</a>
            </div>
        {% endfor %}
        <br>    
    </div>
<br>
<hr>
{% if basket == null %}
    {% else %}
    <a class="btn btn-success" href="{{ path('objednavka_nova')}}">Dokončit objednávku</a> <br>
{% endif %}
<a href="{{ path('showproducts', { category: 1 })}}">Zpět na výpis produktů</a> <br>
</div>
{% endblock %}