{% extends 'base_eshop.html.twig' %}

{% block title %}Košík{% endblock %}
{% block body %}   
<div class = "container">
    <h2>Nákupní košík</h2><br>
    {{ vypis }}
    {% if basket == null %}
        <p>Váš košík je prázdný.</p>
    {% else %}
        
    {% endif %}
    
    <div class="row">
        {% for product in basket %}
            <div class="col-4">
                <h5>{{ product.name }}</h6>
                Cena za kus: {{ product.price }} Kč <br>
                Množství v košíku: {{ product.quantity }} <br>
                Celková cena: {{ product.price * product.quantity }} Kč<br>
                <a class="btn btn-info btn-sm" href="{{ path('basket_add', { product: product.id }) }}">Změnit množství</a> <br>
                <a class="btn btn-danger btn-sm" href="{{ path('basket_delete', { product: product.id }) }}">Odstranit z košíku</a>
                <hr>
            </div>
        {% endfor %}
    </div>
{% if basket == null %}
    {% else %}
    <a class="btn btn-success" href="{{ path('objednavka_nova')}}">Dokončit objednávku</a>
{% endif %}
<a class="btn btn-info" href="{{ path('showproducts')}}">Pokračovat v nakupování</a> <br>
</div>
{% endblock %}