{% extends 'base_eshop.html.twig' %}

{% block title %}Přidat zboží do košíku{% endblock %}
{% block body %}   
{% form_theme form 'bootstrap_4_layout.html.twig' %}
<div class="container">
    <h2>Přidat zboží do košíku</h2>
    <p>{{ varovani }}</p>
    <span id="totalPriceLabel"> Celková cena: </span> <span id ="totalPrice"> </span>
    <br>
        {{ form_start(form) }}
            Název produktu: {{product.name}} <br>
            Cena za kus: {{product.price}} <br>
            Počet kusů na skladě: {{ product.stock }} <br>
            Množství: {{ form_widget(form.quantity) }} 
        {{ form_end(form) }}
    <a href="{{path('basket_delete', {product: product.id}) }}" class="btn btn-danger">Odstranit z košíku</a> <br> <br>
    <a href="{{path('basket_index') }}" class="btn btn-info">Zpět na výpis košíku</a><br>
</div>
{% endblock %}
{% block javascripts %}
<script>

$('#form_quantity').on('keyup', function(e){
        var productPrice = '{{product.price}}';
        var productQuantity = $('#form_quantity').val();
        var totalPrice = parseInt(productPrice) * parseInt(productQuantity);
        $('#totalPrice').text(totalPrice);
})

</script>
{% endblock %}