{% extends 'base.html.twig' %}

{% block title %}Objednání zboží{% endblock %}
{% block body %}   
{% form_theme form 'bootstrap_4_layout.html.twig' %}
        <div class="container" >
            <div class="row">
                <div class="col-8">
                    <h2>Dokončete svoji objednávku</h2>
                    <br> <b>{{ varovani }}</b> <br>
                    {{ enoughStock }}
                    {{ form_start(form) }}
                        <h5> Osobní údaje </h5>
                        Jméno a příjmení:
                        {{ form_widget(form.customer)}}
                        Ulice a číslo domu:
                        {{ form_widget(form.street)}}
                        Město:
                        {{ form_widget(form.city)}}
                        PSČ:
                        {{ form_widget(form.psc)}}
                        Stát:
                        {{ form_widget(form.country)}}
                        E-mailová adresa:
                        {{ form_widget(form.email)}}
                        Telefonní číslo:
                        {{ form_widget(form.phone)}}
                        <hr>
                        <h5> Dodací podmínky </h5>
                        Způsob dodání/převzetí:
                        {{ form_widget(form.delivery)}}
                        Způsob platby:
                        {{ form_widget(form.payment)}}
                        Poznámka:
                        {{ form_widget(form.note)}}
                        <button class="btn">{{ button_label|default('Objednat!') }}</button>
                    {{ form_end(form) }}
                </div>
                <div class="col-4">
                <h2>Rekapitulace nákupu</h2>
                <h4>Dodací podmínky</h4>
                <div>Cena nakupovaného zboží: <span id="productsPrice">{{ productPrice }}</span> Kč
                </div>
                <div> Cena dopravy: &nbsp
                <span id="delivery"> </span>
                </div>
                <div> Cena platby: &nbsp
                <span id="payment"> </span>
                </div><br>
                <div><b>Celková cena objednávky: &nbsp
                <span id="totalPrice"> </span></b>
                </div> <hr>
                <h4>Nakupované zboží</h4>
                {% for array in goodsForTwig %}
                    <div>
                        Název produktu: {{ array.name}} <br>
                        Množství: {{ array.quantity}} <br>
                        Cena za kus: {{ array.price}} Kč <br>
                        Celková cena: {{ array.quantity * array.price }} Kč <br>
                        <hr>
                    </div>
                {% endfor %}
                <div>
                <a href="{{ path('basket_index') }}" class="btn btn-info">Zpět do košíku</a>
                </div>
                </div>
            </div>
        </div>
        {% endblock %}
    
        {% block javascripts %}
        <script>        
        
       $(document).ready(function(){
            var deliveryPrice = $('#delivery').text();
            var paymentPrice = $('#payment').text();
            var productsPrice = '{{ productPrice }}';
            var totalPrice = parseInt(deliveryPrice) + parseInt(paymentPrice) + parseInt(productsPrice);
            $('#totalPrice').text(totalPrice);
        })
        
        $('#objednavka_eshop_payment, #objednavka_eshop_delivery').on('click', function(e){
            var deliveryPrice = $('#delivery').text();
            var paymentPrice = $('#payment').text();
            var productsPrice = '{{ productPrice }}';
            var totalPrice = parseInt(deliveryPrice) + parseInt(paymentPrice) + parseInt(productsPrice);
            $('#totalPrice').text(totalPrice);
        })
        
        $(document).ready(function(e){        
            deliveryPrice = $('#objednavka_eshop_delivery option:selected').attr('data-price');
            $('#delivery').text(deliveryPrice);          
            })
        
        $(document).ready(function(e){
            paymentPrice = $('#objednavka_eshop_payment option:selected').attr('data-price');
            $('#payment').text(paymentPrice);          
            })
               
        $('#objednavka_eshop_delivery').on('click', function(e){
            deliveryPrice = $('#objednavka_eshop_delivery option:selected').attr('data-price');
            $('#delivery').text(deliveryPrice);          
            })
        
        $('#objednavka_eshop_payment').on('click', function(e){
            paymentPrice = $('#objednavka_eshop_payment option:selected').attr('data-price');
            $('#payment').text(paymentPrice);          
            })
        
        </script>        
        {% endblock %}