{% extends 'base_eshop.html.twig' %}
{% block body %} 
    <div class = "container">
        <br>
        <div class = "row">
            <div class = "col-12">
                <h4>Seznam kategorií</h4> <br>
                    <table>
                        <tr>
                            {% for category in argumenty.categories %}
                                <td>
                                <a href="{{ path('showproducts', {'category': category.id}) }}" class="btn btn-dark btn-lg">{{ category.name }} </a>&nbsp
                                </td>    
                            {% endfor %}
                        </tr>
                    </table>
                <br>
            </div>
        </div>
        <div class = "row">
            <div class = "col-12">
                <h4> Seznam produktů v kategorii </h4>
                
            </div>
        </div>
        <div class = "row">
            {% for product in argumenty.products %}
                <div class = "col-4">
                    <p>
                    <h6> {{ product.name }} </h6>
                    {{ product.price }} Kč <br>
                    <a class="btn btn-info" href="{{ path('showproducts_detail', {'id': product.id}) }}">Zobrazit detail</a>
                    </p>
                </div>
            {% endfor %}
        </div>
        <br> 
    </div>
{% endblock %}