{% extends 'base_eshop.html.twig' %}
{% block title %}Produkty{% endblock %}
{% block body %} 
    <div class ="container">
        <br>
        <div class ="row">
            <div class ="col-3">
                <h4>Seznam kategorií</h4>
                <br>
               {# {{ search }}<br> #}
                <div class ="row">
                    <div class="col-3">
                        {% for category in argumenty.categories %}
                            <p>
                            <a href="{{ path('showproducts_category', {'category': category.id}) }}" class="btn btn-dark btn-lg">{{ category.name }} </a>&nbsp
                            </p>
                        {% endfor %}
                    </div>
                    <br>
                </div>
            </div>
            <div class ="col-9">
            <h4>Seznam všech produktů</h4>
                <div class="row">
                    {% for product in argumenty.products %}
                        <div class="col-4">
                            <p>
                            <h6> {{ product.name }} </h6>
                            Kategorie: {{ product.category.name }}<br>
                            Cena: {{ product.price }} Kč <br>
                            <a class="btn btn-info" href="{{ path('showproducts_detail', {'id': product.id}) }}">Zobrazit detail</a>
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}