{% extends 'base_admin.html.twig' %}

{% block title %} Administrace produktů {% endblock %}

{% block body %}


    <h1>Administrace produktů</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Název</th>
                <th>Kategorie</th>
                <th>Popis</th>
                <th>Cena</th>
                <th>Množství na skladě</th>
                <th>Možnosti</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('product_show', {'id': product.id}) }}">Zobrazit detail</a>
                    <a class="btn btn-warning" href="{{ path('product_edit', {'id': product.id}) }}">Upravit produkt</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('product_new') }}">Vytvořit nový produkt</a>
    <a href="{{ path('admin') }}">Zpět do administrace</a>

{% endblock %}
