<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block hlavicka %}
        {% form_theme searchForm 'bootstrap_4_layout.html.twig' %}
            <div class="container">
            
                <nav class="navbar navbar-expand-lg navbar-light bg-info">

                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <a class="navbar-brand" >
                         <img src="{{ asset('re-taska_ikona.png') }}" alt=":P" class="img-fluid img-thumbnail">
                      </a>
                      <li class="nav-item active">
                        <a class="nav-link" href="{{ path('homepage') }}">Hlavní stránka</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="{{ path('showproducts') }}">Produkty</a>
                      </li>
                      <li class="nav-item active">
                      {{ form_start(searchForm) }}
                        {{ form_widget(searchForm.search) }}
                      </li>
                      <li class="nav-item active">
                        {{ form_widget(searchForm.save) }}
                      {{ form_end(searchForm) }}  
                      </li>
                      <span class="navbar-text">
                           &nbsp 777 888 999 
                      </span>
                      <li class="nav-item active">
                        <a class="nav-link" href="{{ path('basket_index') }}">Košík</a>
                      </li>
                    </ul>
                  </div>
                </nav>
            </div>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block footer %} 
        <div class ="container">
            <div class ="footer">
                <nav class="navbar navbar-expand-lg navbar-light bg-info">

                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                     
                      <li class="nav-item active">
                        <a class="nav-link" href="{{ path('homepage') }}">Hlavní stránka</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="{{ path('showproducts') }}">Produkty</a> 
                      </li>
                      <span class="navbar-text">
                        &nbsp 777 888 999 &nbsp
                      </span>
                      <span class="navbar-text">
                        &nbsp E-Mail &nbsp
                      </span>
                      <span class="navbar-text">
                        &nbsp Copyright &nbsp
                      </span>
                    </ul>
                  </div>
                </nav>
            </div>
        </div>
        {% endblock %}
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
            
        {% block javascripts %}{% endblock %}
        
    </body>
</html>
