<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block hlavicka %}
            <div class="container">
            
                <nav class="navbar navbar-expand-lg navbar-light bg-light">

                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <a class="navbar-brand" href="#">
                        <img src="App/re-taska_logo.png" alt=":P">
                      </a>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ path('homepage') }}">Hlavní stránka</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ path('showproducts', {'category': 1}) }}">Produkty</a>
                      </li>
                      <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" name="id" placeholder="Vyhledávání" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Vyhledat</button>
                      </form>
                      <span class="navbar-text">
                           &nbsp 777 888 999 
                      </span>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ path('basket_index') }}">Košík</a>
                      </li>
                    </ul>
                  </div>
                </nav>
            </div>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block footer %} 
        <div class ="container">
            <div class ="footer">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">

                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                     
                      <li class="nav-item">
                        <a class="nav-link" href="{{ path('homepage') }}">Hlavní stránka</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ path('showproducts', {'category': 1}) }}">Produkty</a>
                      </li>
                      <span class="navbar-text">
                        &nbsp 777 888 999 &nbsp
                      </span>
                      <span class="navbar-text">
                        &nbsp E-Mail &nbsp
                      </span>
                      <span class="navbar-text">
                        &nbsp Copyright &nbsp
                      </span>
                    </ul>
                  </div>
                </nav>
            </div>
        </div>
        {% endblock %}
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
            
        {% block javascripts %}{% endblock %}
        
    </body>
</html>
