{% extends 'base_admin.html.twig' %}

{% block title %}Administrace objednávek{% endblock %}

{% block body %}
    
    <h1>Administrace objednávek</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Objednané zboží</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Zákazník</th>
                <th>Ulice a č.p.</th>
                <th>Město</th>
                <th>PSČ</th>
                <th>Stát</th>
                <th>Poznámka</th>
                <th>Cena zboží</th>
                <th>Cena dopravy</th>
                <th>Způsob platby</th>
                <th>Cena platby (Kč)</th>
                <th>Cena platby (EUR)</th>
                <th>Celková cena</th>
                <th>Datum</th>
                <th>Stav</th>
                <th>Možnosti</th>
            </tr>
        </thead>
        <tbody>
        {% for objednavka in objednavkas %}
            <tr>
                <td>{{ objednavka.id }}</td>
                <td>{% for bag in objednavka.shoppingBag %}
                    Název produktu: {{ bag.productName }} <br>
                    Cena: {{ bag.productPrice }} Kč<br>
                    Objednané množství: {{ bag.productAmount }} ks<br>
                    {% endfor %}
                </td>
                <td>{{ objednavka.email }}</td>
                <td>{{ objednavka.phone }}</td>
                <td>{{ objednavka.customer }}</td>
                <td>{{ objednavka.street }}</td>
                <td>{{ objednavka.city }}</td>
                <td>{{ objednavka.psc }}</td>
                <td>{{ objednavka.country.name }} </td>
                <td>{{ objednavka.note }}</td>
                <td>{{ objednavka.productPrice }}</td>
                <td>{{ objednavka.deliveryPrice }}</td>
                <td>{{ objednavka.payment.name }} </td>
                <td>{{ objednavka.paymentPriceCZK }}</td>
                <td>{{ objednavka.paymentPriceEUR }}</td>
                <td>{{ objednavka.totalPrice }}</td>
                <td>{{ objednavka.date ? objednavka.date|date('Y-m-d') : '' }}</td>
                <td>{{ objednavka.state }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('objednavka_show', {'id': objednavka.id}) }}">Zobrazit detail</a>
                    
                    {% if objednavka.state != 'Zrušená' %}
                        <a class="btn btn-warning" href="{{ path('objednavka_edit', {'id': objednavka.id}) }}">Upravit</a>
                    {% endif %}
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">Nejsou evidovány žádné objednávky</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('objednavka_new') }}">Vytvořit novou objednávku</a>
    <a href="{{ path('admin') }}" class="btn btn-secondary">Zpět do administrace</a>

{% endblock %}
