{% extends 'base.html.twig' %}

{% block title %}Objednavka{% endblock %}

{% block body %}
    <h1>Objednavka</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ objednavka.id }}</td>
            </tr>
            <tr>
                <th>Product</th>
                <td>{{ objednavka.product }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ objednavka.quantity }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ objednavka.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ objednavka.phone }}</td>
            </tr>
            <tr>
                <th>Customer</th>
                <td>{{ objednavka.customer }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ objednavka.street }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ objednavka.city }}</td>
            </tr>
            <tr>
                <th>Psc</th>
                <td>{{ objednavka.psc }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ objednavka.note }}</td>
            </tr>
            <tr>
                <th>ProductPrice</th>
                <td>{{ objednavka.productPrice }}</td>
            </tr>
            <tr>
                <th>DeliveryPrice</th>
                <td>{{ objednavka.deliveryPrice }}</td>
            </tr>
            <tr>
                <th>PaymentPriceCZK</th>
                <td>{{ objednavka.paymentPriceCZK }}</td>
            </tr>
            <tr>
                <th>PaymentPriceEUR</th>
                <td>{{ objednavka.paymentPriceEUR }}</td>
            </tr>
            <tr>
                <th>TotalPrice</th>
                <td>{{ objednavka.totalPrice }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ objednavka.date ? objednavka.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('objednavka_edit', {'id': objednavka.id}) }}" class="btn btn-warning">Upravit</a>

    {{ include('objednavka/_delete_form.html.twig') }}
    
    <a href="{{ path('objednavka_index') }}" class="btn btn-secondary">Zpět na výpis</a>
    
{% endblock %}
